.currency_list{
    display: flex;
    /* align-items: center; */
    align-items: center;
    justify-content: space-between;
    padding: 6px 0px;
    border-style: none;
    background-color: transparent;
    color: black;
}

.currency_list option{
    background-color: white  !important;
}

.symbol,
.label__ {
    padding: 5px;

    font-weight: 500;
}


.currency_list:hover {
    border-style: none    !important;
}

.currency__details {
    background-color: white !important;
}

