.Main {
  font-family: sans-serif;
  background: #f0f0f0;
  height: 100vh;

}

.DropDownContainer {
  width: 10.5em;
  margin: 0 auto;

}

.DropDownHeader {
    padding: 1.5rem;
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;

}
.NavCurrencyItem {
display: flex;
align-items: center;
gap: 0.5rem;
font-size: 1.125rem;
padding: 0.8rem 2rem;
text-transform: uppercase;
text-align: center;

}
.Grid{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Attribute {
    transform: translateX(-20px);
    pointer-events: none;

}
.AttributeBis {
  position: absolute;
  transform: translateX(20px);

 /* right: -30px; */
  pointer-events: none;
  padding-right: 5px;
}

.DropDownList {
    transform: translateY(15px);

  list-style-type: none;
  background-color: white;
  box-shadow: 0 0.1rem 1rem 0 #f0f0f0;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 500;

  &:first-child {
    padding-top: 0.8em;
  }

}

.DropDownListContainer {
  position: absolute;
  top: 5%;
  z-index: 100;
  width: 100px;
}

